
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>

</head>
<body>
    <div class="col-lg-6 offset-lg-3">
        <nav>
            <ul  >
                <li style="display: inline-block; margin-left: 15px;"><a href="About">ABOUT</a></li>
                <li style="display: inline-block; margin-left: 15px;"><a href="Career">CAREER OBJECTIVE</a></li>
                <li style="display: inline-block; margin-left: 15px;"><a href="Academic">ACADMIC QUALIFICATION</a></li>
                <li style="display: inline-block; margin-left: 15px;"><a href="Skill">SKILL</a></li>
            </ul>
        </nav>
    </div>
    <center>
        <h1>
            <u>ISLAM'S RESUME</u>
        </h1>
    </center>
    <br />
    <img src="~/Photo/IslamF.jpg" width="150" hspace="300" align="right" />
    <h2>Md Islam Sardar</h2>
    <h3>Competitive programmer</h3>
    <h3>America International University-Bangladesh</h3>
    <h3>Dhaka, Bangladesh</h3>
    <h3>islam.cse.aiub@gmail.com</a></h3>
    <h3>01971----</h3>
    <br /><hr />
</body>
</html>
