
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Academic</title>
</head>
<body>
    <div class="col-lg-6 offset-lg-3">
        <nav>
            <ul>
                <li style="display: inline-block; margin-left: 15px;"><a href="About">ABOUT</a></li>
                <li style="display: inline-block; margin-left: 15px;"><a href="Career">CAREER OBJECTIVE</a></li>
                <li style="display: inline-block; margin-left: 15px;"><a href="Academic">ACADMIC QUALIFICATION</a></li>
                <li style="display: inline-block; margin-left: 15px;"><a href="Skill">SKILL</a></li>
            </ul>
        </nav>
    </div>
    <div>
        <h2>
            <div style="background-color:lightslategray;color:white; padding:10px">
                <u>ACADMIC QUALIFICATION</u>
            </div>
        </h2>
        <table border="5" width="1000" align="center">
            <tr>
                <th>Qualification</th>
                <th>Board/university</th>
                <th>School/College</th>
                <th>Years of passing</th>
                <th>CGPA</th>
            </tr>
            <tr>
                <td>SSC</td>
                <td>JESSORE</td>
                <td>GOVT.LOHAGARA PILOT HIGH SCHOOL</td>
                <td>2015</td>
                <td>5.00</td>
            </tr>
            <tr>
                <td>HSC</td>
                <td>DHAKA</td>
                <td>GOVT. BANGABONDHU COLLAGE</td>
                <td>2017</td>
                <td>4.83</td>
            </tr>
            <tr>
                <td>UNDER-GRADUATE</td>
                <td>UGC</td>
                <td>AMERICAN INTERNATIONAL UNIVERSITY-BANGLADESH</td>
                <td>2019-2023</td>
                <td>3.30</td>
            </tr>

        </table>
    </div>
</body>
</html>
