
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Career</title>
</head>
<body>
    <div class="col-lg-6 offset-lg-3">
        <nav>
            <ul>
                <li style="display: inline-block; margin-left: 15px;"><a href="About">ABOUT</a></li>
                <li style="display: inline-block; margin-left: 15px;"><a href="Career">CAREER OBJECTIVE</a></li>
                <li style="display: inline-block; margin-left: 15px;"><a href="Academic">ACADMIC QUALIFICATION</a></li>
                <li style="display: inline-block; margin-left: 15px;"><a href="Skill">SKILL</a></li>
            </ul>
        </nav>
    </div>
    <h2>
        <div style="background-color:lightslategray;color:white; padding:10px">
            <u>CAREER OBJECTIVE</u>
        </div>
    </h2>
    <h3>
        <p>- Bsc In Cse from American International University.</p>
        <p>- Sound knowledge of the PHP, Java, HTML, CSS and Java Script,Python</p>
        <p>- Ability to develop and design webpages and websites to make them functional.</p>
        <p>- Problem solving </p>
    </h3>
    <div>
    </div>
</body>
</html>
