
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Skill</title>
</head>
<body>
    <div class="col-lg-6 offset-lg-3">
        <nav>
            <ul>
                <li style="display: inline-block; margin-left: 15px;"><a href="About">ABOUT</a></li>
                <li style="display: inline-block; margin-left: 15px;"><a href="Career">CAREER OBJECTIVE</a></li>
                <li style="display: inline-block; margin-left: 15px;"><a href="Academic">ACADMIC QUALIFICATION</a></li>
                <li style="display: inline-block; margin-left: 15px;"><a href="Skill">SKILL</a></li>
            </ul>
        </nav>
    </div>
    <div>
        <h2>
            <div style="background-color:lightslategray;color:white; padding:10px">
                <u>Skills</u>
            </div>
        </h2>
        <ul>
            <li>WEB-Development</li>
            <li>Web-Designing</li>
            <li>Programming</li>
            <li>Problem solver</li>
            <li>Wordpress</li>
        </ul>
    </div>
</body>
</html>
